@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Navbar {
    background-color: #0a0b0b;
    color: white;
    height: 75px;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    font-family:  "Ember", "Helvetica", "Arial", "sans-serif";
}

.left-lists {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 45px;
    list-style-type: none;
    padding: 10px;
}

/* .right-lists {
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 15px;
    list-style-type: none;
    padding: 10px;
    height: 53px;
}  */

.right-lists {
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 15px;
    list-style-type: none;
    padding: 0px 10px 0px 0px;
    height: 60px;
} 

.left-icons {
    float: left;
    width: 25%;
    padding: 15px;
}

.right-icons {
    float: right;
    width: 75%;
    padding: 15px;
}


.logo {
    height: 30px;
    cursor: pointer;
}

.logo-div, .home-div, .pod-div, .lib-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    height: 35px;
}

/* .search {
    padding: 10px;
    border-radius: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.search-container {
    position: relative;
    color: #aaa;
    font-size: 16px;
    cursor: pointer;
  }
  
/* .search-container {display: inline-block;} */
  
/* .search-container input {
    width: 250px;
    height: 36px;
  
    background: #fcfcfc;
    border: 1px solid white;
    border-radius: 30px;
    cursor: pointer;
} */

/* inputbased */
.search-container input {
    padding-top: 57px;
    width: 750px;
    height: 130px;
    background-color: rgba(255,255,255,.15);
    cursor: pointer;
    caret-color: #25d1da;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    border: 1px solid black;
    color: white;
}

/* .search-container input::-webkit-search-cancel-button {
    -webkit-appearance: none;
} */

.search-container input::placeholder {
    color: rgb(179, 174, 174);
}

input[type="text"] {
    caret-color: #25d1da; /* Change the color of the text input cursor */
}


.icon {
    position: absolute;
    bottom: 15px;
    right: 25px;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #25d1da;
}


.search-container input { text-indent: 32px;}
.search-container .fa-search { 
  position: absolute;
  top: 8px;
  left: 20px;
}

.search-container .fa-search {left: auto; right: 10px;}

/* .icon {
    position: absolute;
    bottom: 3px;
    left: 190px;
    height: 32px;
} */

.user-icon {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.Main-section {
    background-color: rgb(0, 0, 0.5);
    color: white;
    width: 100%;
    height: 100%;
    border-top: 0.1px solid gray;
    padding-bottom: 30px;
}

.feature {
    padding-left: 25px;
    margin-left: 25px;
    padding-right: 12px;
    margin-right: 12px;
    margin-bottom: 45px;
}

.categories {
    padding: 5px;
    margin: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.header{
    font-family: "Sharp Grotesk Semi Bold 20", Helvetica, Arial, "sans-serif";
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    flex: 1;
}

.headertab {
    display: flex;
    justify-content: end;
    align-items: end;
    padding-bottom: 5px;
    /* margin-bottom: 5px; */
}

/* .alloptions {
    position: absolute;
    left: 1382px;
} */

.options {
    /* position: absolute;
    left: 1290px; */
    display: flex;
    gap: 28px;
    margin-right: 30px;
    cursor: pointer;
}

.alloptions {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    padding: 6px 16px;
    cursor: pointer;
}

.all {
    font-family:  "Ember", "Helvetica", "Arial", "sans-serif";
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
}

.wrapper {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    background-color: rgba(0, 0, 0, 0.9);
    /* z-index: 6; */
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.wrapper-all {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.collections {
    display: flex;
    flex-direction: column;
    padding: 4px 16px 4px 0px;
    width: 180px;
}

.collections-all {
    display: flex;
    flex-direction: column;
    padding: 4px 16px 14px 0px;
    width: 180px;
}

.imgtab {
    border-radius: 8px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.6);
    width: 166px;
    height: 166px;
    cursor: pointer;
}

.link {
    font-size: 16px;
    font-family:  "Ember", "Helvetica", "Arial", "sans-serif";
    color: white;
    text-decoration: none;
}

.link-container {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-inline-end: 10px;
    padding: 10px 0px 0px 0px;
}

.content {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-family:  "Ember", "Helvetica", "Arial", "sans-serif";
}

.content-container {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-inline-end: 10px;
    padding: 5px 0px 0px 0px;
}

.icon-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    cursor: pointer;
}

.rythm-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* display: block;    */
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px;
    z-index: 1; 
    width: 175px;
    height: 169px;
}

.image-container {
    position: relative;
    display: inline-block;
    border: 1px solid black;
  }

.image-container:hover .icon-container {
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px;
    z-index: 2; 
    width: 175px;
    height: 171px;
}

.play-container {
    background-color: rgba(160, 108, 108, 0.15);
    color: white;
    border: 2px solid transparent;
    box-shadow: none;
    backdrop-filter: blur(10px);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Responsive styles for nav and main compoennt */
@media (max-width: 768px) {
    .home-div li:not(:first-child),
    .pod-div li:not(:first-child),
    .lib-div li:not(:first-child) {
        display: none;
    }
}

@media (max-width: 768px) {
    .left-lists {
        gap: 30px;
    }

    .logo-div, .home-div, .pod-div, .lib-div {
        height: 40px;
    }

    .logo {
        height: auto;
        width: 45px;
    }
    .logo[src="https://d5fx445wy2wpk.cloudfront.net/static/logo.svg"] {
        content: url("https://d5fx445wy2wpk.cloudfront.net/static/logo_stacked.svg");
    }

    /* .home-div, .pod-div, .lib-div {
        position: relative;
        left: 400px;
        top: -5px;
    }

    .search-container {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .user-icon {
        position: absolute;
        top: 10px;
        right: 60px;
    } */
    
}

@media (max-width: 1025px) {
    .home-div li:not(:first-child),
    .pod-div li:not(:first-child),
    .lib-div li:not(:first-child) {
        display: none;
    }
}

@media (max-width: 1025px) {
    .left-lists {
        gap: 30px;
    }

    .logo-div, .home-div, .pod-div, .lib-div {
        height: 40px;
    }

    .logo {
        height: auto;
        width: 45px;
    }
    .logo[src="https://d5fx445wy2wpk.cloudfront.net/static/logo.svg"] {
        content: url("https://d5fx445wy2wpk.cloudfront.net/static/logo_stacked.svg");
    }
}

/* MusicContainer */
.music-container {
    display: flex;
    justify-content: space-between;
    /* border-top: 1px solid gray; */
    background-color: rgba(0, 0, 0, 1); 
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    z-index: 6; 
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
}


.audio-input.MuiSlider-root {
    width: 1513px;
    height: 2.5px;
    color: white;
    position: fixed;
    bottom: 64px;
    left: 0;
    right: 0;

  }

.audio-input.MuiSlider-root .MuiSlider-track {
    background-color: white; 

}

.audio-input.MuiSlider-root .MuiSlider-thumb {
    background-color: white;
    box-shadow: none;
    width: 15px;
    height: 15px;
    cursor: grab;
    display: none;
}

.audio-input.MuiSlider-root:hover .MuiSlider-thumb {
    display: block;
}

.music-parts {
    display: flex;
    gap: 20px;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 20px;
}

.music-parts:hover .hover-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container {
    position: relative;
    display: inline-block;
}

.img {
    border-radius: 8px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.6);
    width: 58px;
    height: 58px;
    cursor: pointer;
}

.hover-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
    width: 58px;
    height: 60px;
    border-radius: 8px;
  }
  

.detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    width: 400px;
}

.music-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    position: relative;
    right: 200px;
}

.volume-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    right: 20px;
    align-items: center;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
}


.MuiSlider-root.volume-adjust {
    color: white;
    width: 5px;
    height: 80px;
    position: fixed;
    bottom: 65px;
    left: 1463px;
    right: 0px;
    border-radius: 0%;
    display: none;
}

.MuiSlider-root.volume-adjust-visible {
    color: white;
    width: 5px;
    height: 80px;
    position: absolute;
    bottom: 65px;
    left: 1442px;
    right: 0px;
    border-radius: 0%;
    display: block;
}


.MuiSlider-root.volume-adjust .MuiSlider-track {
    background-color: white; 
    border-radius: 0%;
}


.MuiSlider-root.volume-adjust .MuiSlider-thumb {
    background-color: white; 
    width: 15px;
    height: 15px; 
    box-shadow: none;
}

.play-pause-container {
    background-color: rgba(255, 255, 255, 0.15);
    color: white;
    border: 2px solid transparent;
    box-shadow: none;
    backdrop-filter: blur(10px);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.link-des  {
    font-size: 15px;
    font-family:  "Ember", "Helvetica", "Arial", "sans-serif";
    color: gray;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis; 
}

.link-title {
    font-family:  "Ember", "Helvetica", "Arial", "sans-serif";
    font-size: 18px;
    color: white;
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 500;
}

.errordiv {
    background: rgba(59, 151, 187, 0.759);
    color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0; 
    width: 1410px;
    height: 75px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 50px 5px 50px;
    margin: 0px 50px 5px 50px;
    border: 1px solid gray;
    z-index: 6;
}

.errormsg {
    font-family: Arial, sans-serif;
    padding-top: 5px;
    margin-top: 5px;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}


@media (max-width: 1024px) {
    .music-container {
        display: flex;
        justify-content: space-between;
        gap: 50px;
    }

    .music-icon-container .skip-container,
    .music-icon-container .shuffle-container {
      display: none;
    }

    .detail-container {
        width: 200px;  
    }

    .music-icon-container {
        right: 70px;
    }

    .audio-input.MuiSlider-root {
        width: 100%;
    }

    /* ... (other style adjustments for small screens) ... */
}

.music-container-1 {
    /* background-color: rgba(0, 0, 0, 1);  */
    z-index: 6; 
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;  
    background-size: cover;
    width: 100%;
    height: 100vh;
}


.music-container-1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      rgba(0, 0, 0, 0.800) 0%,
      rgba(0, 0, 0, 0.800) 30%,
      rgba(0, 0, 0, 0.800) 50%,
      rgba(0, 0, 0, 0.800) 75%,
      rgba(0, 0, 0, 0.800) 85%,
      black 95%,
      black 100%
    );
  }
.goback {
    position: relative;
    top: 20px;
    left: 30px;
    cursor: pointer;
}

.audio-input-1.MuiSlider-root {
    width: 1410px;
    height: 2.5px;
    color: white;
    position: fixed;
    bottom: 110px;
    left: 50px;
    right: 10px;

  }

.audio-input-1.MuiSlider-root .MuiSlider-track {
    background-color: white;

}


.audio-input-1.MuiSlider-root .MuiSlider-thumb {
    background-color: white;
    box-shadow: none;
    width: 15px;
    height: 15px;
    cursor: grab;
    display: none;
}

.audio-input-1.MuiSlider-root:hover .MuiSlider-thumb {
    display: block;
}

.start {
    display: flex;
    justify-content: start;
    align-items: start;
    position: fixed;
    bottom: 100px;
    left: 50px;
    color: white;
    font-size: 15px;
}

.end {
    display: flex;
    justify-content: end;
    align-items: end;
    position: fixed;
    bottom: 100px;
    right: 50px;
    color: white;
    font-size: 15px;
}

.music-parts-1 {
    display: flex;
    gap: 20px;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 80px;
}


.img-1 {
    border-radius: 8px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.6);
    width: 330px;
    height: 330px;
    cursor: pointer; 
    position: fixed;
    top: 125px;
    left: 50px;  
}

.detail-container-1 {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 520px;
    left: 50px;
    gap: 12px;
    width: 500px;    
}

.link-title-1 {
    font-family: "Sharp Grotesk Semi Bold 20", "Helvetica", "Arial", "sans-serif";
    font-size: 32px;
    line-height: 40px;
    color: white;  
    width: 100%;
    font-weight: bold;
    text-wrap: nowrap;
}

.link-des-1 {
    font-family: "Ember", "Helvetica", "Arial", "sans-serif";
    color: white;
    font-size: 16px;
    line-height: 20px;
    text-wrap: nowrap;
}

.music-icon-container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    position: fixed;
    right: 150px;
    bottom: 40px;
    left: 160px;  
}

.play-pause-container-1 {
    background-color: rgba(255, 255, 255, 0.15);
    color: white;
    border: 2px solid transparent;
    box-shadow: none;
    backdrop-filter: blur(10px);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.volume-icon-1 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    padding-right: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 50px;
}


.MuiSlider-root.volume-adjust-1 {
    color: white;
    width: 5px;
    height: 80px;
    position: fixed;
    bottom: 65px;
    left: 1463px;
    right: 0px;
    border-radius: 0%;
    display: none;
}

.MuiSlider-root.volume-adjust-visible-1 {
    color: white;
    width: 5px;
    height: 80px;
    position: fixed;
    bottom: 95px;
    left: 1413px;
    right: 0px;
    border-radius: 0%;
    display: block;
}


.MuiSlider-root.volume-adjust-1 .MuiSlider-track {
    background-color: white; 
    border-radius: 0%;
}

.MuiSlider-root.volume-adjust-1 .MuiSlider-thumb {
    background-color: white; 
    width: 15px; 
    height: 15px;
    box-shadow: none;
}

@media (max-width: 1024px) {
    .music-icon-container-1 .skip-container,
    .music-icon-container-1 .shuffle-container {
      display: none;
    }

    .link-title-1 {
        /* width: 100%; */
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .music-icon-container-1 {
        right: 70px;
    }

    .audio-input-1.MuiSlider-root {
        /* width: 100%; */
        height: 2.5px;
        position: absolute;
        left: 50px;
        right: 10px;
    }
}

.Search-Lists {
    width: 100%;
    height: 100%;
    padding-left: 80px;
}

.Search-Types {
    padding: 20px; 
}

.Moods, .Listen-Your-Way, .Artists {
    font-family: "Sharp Grotesk Semi Bold 20", "Helvetica", "Arial", "sans-serif";
    font-size: 30px;
    line-height: 24px;
    font-weight: bold;
}

.mood-list, .Listen-list, .Artists-list{
    list-style: none;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    padding: 29px 0px 29px 0px;
}

ul.mood-list li[class*="box"],  ul.Listen-list li[class*="box"], ul.Artists-list li[class*="box"] {
    padding: 25px 165px 25px 165px;
    border-radius: 8px;
    object-fit: fill;
    max-width: 100%;
    height: inherit;
    color: white;
    font-family: "Sharp Grotesk Semi Bold 20", "Helvetica", "Arial", "sans-serif";
    font-size: 25px;
    line-height: 24px;
    font-weight: bold;
    cursor: pointer;
}

.box-1 {
    background: linear-gradient(45deg,#de6262, yellow);
}

.box-2 {
    background: linear-gradient(45deg, purple, lime);
}

.box-3 {
    background: linear-gradient(45deg, rgb(0, 153, 255), rgb(224, 109, 77));
}

.box-4 {
    background: linear-gradient(45deg, red, violet);
}

.box-5 {
    background: linear-gradient(45deg, rgb(111, 128, 0), rgb(43, 17, 156));
}

.box-6 {
    background: linear-gradient(45deg, rgb(136, 5, 5), rgb(111, 214, 156));
}

.box-7 {
    background: linear-gradient(45deg, rgb(14, 14, 195), rgb(55, 156, 53));
}

.suggestions-list {
    width: 100%;
    height: 614px;
    padding-left: 80px;
    background-color: rgba(0, 0, 0, 1);
    z-index: 6;
}

.suggestions {
    padding: 20px;
    font-family: "Sharp Grotesk Semi Bold 20", "Helvetica", "Arial", "sans-serif";
    font-size: 25px;
    line-height: 24px;
    font-weight: bold;    
}

.sugg-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 32px 0px 70px 19px;
}

.sugg-list li {
    padding: 10px 0px 15px 0px;
    font-family: "Sharp Grotesk Semi Bold 20", "Helvetica", "Arial", "sans-serif";
    font-size: 15px;
    line-height: 24px;
    font-weight: bold;   
    color: white;
    cursor: default;
}

.showresult {
    width: 100%;
    height: 100%;
    padding-left: 80px;
    background-color: rgba(0, 0, 0, 1);
    z-index: 6;
    padding-bottom: 250px;
}

.result {
    padding: 20px 0px 20px 0px;
    font-family: "Sharp Grotesk Semi Bold 20", "Helvetica", "Arial", "sans-serif";
    font-size: 25px;
    line-height: 24px;
    font-weight: bold; 
}

.result-song {
    padding-bottom: 20px;
    font-family: "Sharp Grotesk Semi Bold 20", "Helvetica", "Arial", "sans-serif";
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;     
}

.noresult {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 280px 30px 0px 0px;
    margin-right: 40px;
    font-family: "Sharp Grotesk Semi Bold 20", "Helvetica", "Arial", "sans-serif";
    font-size: 25px;
    line-height: 24px;
    font-weight: bold;   
    color: white;
    cursor: default;  
}